
// white
$w: #ffffff;
$w1: #cccccc;
$w2: #EDEDED;
$w3: #ececec;
$w4:#f1f1f1;

// black
$b: #000000;
$b1: #373737;
$b2: #333333;
$b3: #555555;
$b4: #777777;
$b5:#888888;
$b6:#131313;


// blue
$a1:#34445A;

// rgba

// black
$rb1: rgba(0, 0, 0, 0.35);
$rb2: rgba(0, 0, 0, 0.65);